#title {
  width: 75%;
}

h3 {
  margin-left: 15%;
  border-bottom: 3px grey;
}

#resume {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#tools {
  margin-right: 20%;
  min-width: 30%;
}

#tooltitle {
  font-size: 24px;
}

.MuiButton-contained {
  background-color: rgb(122, 211, 213) !important;
  color: white !important;
}

.MuiButton-label {
  color: black !important;
}
