#about {
  display: flex;
  flex-direction: row;
}

.MuiCardMedia-img {
  padding: 0;
  margin: 0;
  object-position: 10px 50%;
  background-position-y: -50;
  object-fit: cover;
}

#title {
  width: 75%;
  font-size: 2rem !important;
}

h3 {
  margin-left: 15%;
  border-bottom: 3px grey;
}

#bio {
  padding-left: 3%;
  max-width: 60vw;
}

#headshot {
  width: 40vh;
}

#br {
  width: 100%;
  text-align: center;
  margin-bottom: 0 !important;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 10px;
}
