#homephoto {
  background-image: url("../../assets/darkcode.jpg");
  height: 100vh;
  color: white;
  display: flex;
  align-items: center;
  object-fit: cover;
}

.MuiCardMedia-img {
  padding: 0;
  margin: 0;
  object-position: 10px 50%;
  background-position-y: -50;
  object-fit: cover;
}

#text {
  margin-left: 5%;
}

@keyframes mni {
  from {
    visibility: hidden;
    padding-top: 40%;
    opacity: 0%;
  }
  to {
    padding-bottom: 0%;
    opacity: 100%;
  }
}

#mni {
  animation-name: mni;
  animation-duration: 1s;
  animation-delay: 2s;
  animation-iteration-count: 1;
}

@keyframes mm {
  from {
    padding-left: 100%;
    opacity: 0%;
  }
  to {
    padding-left: 0%;
    opacity: 100%;
  }
}

#mm {
  animation-name: mm;
  animation-duration: 1s;
  animation-delay: 3s;
  animation-iteration-count: 1;
}

@keyframes iaa {
  from {
    opacity: 0%;
  }
  to {
    opacity: 100%;
  }
}

#iaa::after {
  animation-name: iaa;
  animation-duration: 2s;
  animation-delay: 5s;
  animation-iteration-count: 1;
}
